# Change only after consulting #buk-developers
# "rule": 1 -> warning
# "rule": 2 -> error
# check eslint docs for rule defaults and options

{
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    # General JS rules
    # see https://github.com/airbnb/javascript
    "indent": ["warn", 2, {"SwitchCase": 1}],
    "prefer-const": 1,
    "no-const-assign": 1,
    "no-var": 1,
    "no-undef": 1,
    "one-var": ["warn", "never"],
    "no-case-declarations": 1,
    "no-new-object": 1,
    "object-shorthand": 1,
    "quote-props": ["warn", "as-needed"],
    "no-array-constructor": 1,
    "array-callback-return": 1,
    "prefer-template": 1,
    "no-loop-func": 2,
    "prefer-rest-params": 1,
    "no-new-func": 2,
    "space-before-function-paren": ["warn", "never"],
    "space-before-blocks": 1,
    "keyword-spacing": ["warn", {"before": true, "after": true}],
    "no-multi-spaces": 2,
    # This rule is recommended to make git diffs a litte nicer, but I think its kind of gross - Geoff
    # "comma-dangle": ["warn", "always"],
    "space-infix-ops": 1,
    "spaced-comment": 1,
    "object-curly-spacing": 1,
    "no-param-reassign": 2,
    "prefer-spread": 1,
    "quotes": 1,
    "prefer-arrow-callback": ["warn", {"allowNamedFunctions": true}],
    "arrow-spacing": ["warn", {"before": true, "after": true}],
    "arrow-parens": ["warn", "always"],
    "arrow-body-style": ["warn", "always"],
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "no-useless-constructor": 1,
    "no-dupe-class-members": 2,
    "no-duplicate-imports": 2,
    "no-iterator": 1,
    "dot-notation": 1,
    "no-nested-ternary": 1,
    "no-unneeded-ternary": 2,
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "eol-last": 1,
    "no-whitespace-before-property": 2,
    "newline-per-chained-call": ["warn", {"ignoreChainWithDepth": 2}],
    "max-len": ["warn", 100],
    "comma-style": ["warn", "last"],
    "semi": ["error", "always"],
    "radix": ["error", "as-needed"],
    "id-length": ["warn", {"min": 2}],
    "camelcase": 1,
    "new-cap": 1,
    "no-debugger": 1,

    # Module/Import-specific rules
    # see https://github.com/airbnb/javascript#modules
    "import/no-mutable-exports": 1,
    "import/prefer-default-export": 1,
    "import/first": 1,
    "import/no-webpack-loader-syntax": 1,

    # React-specific rules
    # see https://github.com/airbnb/javascript/tree/master/react
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-indent-props": ["warn", 2],
    "react/jsx-indent": ["warn", 2],
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": ["warn", { "ignorePureComponents": true}],
    "react/jsx-pascal-case": 1,
    "jsx-quotes": 1,
    "react/jsx-curly-spacing": 1,
    "react/jsx-boolean-value": ["error", "always"],
    "jsx-a11y/img-redundant-alt": 1,
    "jsx-a11y/aria-role": 1,
    "jsx-a11y/no-access-key": 1,
    "react/no-string-refs": 1,
    "react/jsx-wrap-multilines": 1,
    "react/self-closing-comp": 1,
    "react/jsx-no-bind": ["warn", {"ignoreRefs": true, "allowArrowFunctions": true}],
    "react/require-render-return": 1,
    "react/no-is-mounted": 1,
    "react/no-danger": 2,
    "react/no-deprecated": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-unescaped-entities": 1,
    "react/prop-types": 2,
    "react/sort-prop-types": ["warn", {"callbacksLast": true, "requiredFirst": true}],
    "react/jsx-filename-extension": 2,
    "react/jsx-equals-spacing": 1,
    "react/jsx-no-comment-textnodes": 1,
    "react/jsx-no-undef": 2,
    "react/jsx-max-props-per-line": 1,
    # not defined for some reason. TODO: check react plugin versions
    # "react/jsx-tag-spacing": 1,
    # "react/void-dom-elements-no-children": 2,
  }
}
