$hamburger-layer-color: #FF3B3F;
@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import "src/styles/variables";

.hamburger-menu-container {
  z-index: 999;
  width: 70px;
  height: 100%;
  right: 0;
  position: absolute;
}

.menu-wrapper__menu {
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: $carbon;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.98;
  &__list {
    list-style-type: none;
    > li {
      font-size: 30px;
      cursor: pointer;
      margin-bottom: 5px;
      &:hover {
        color: #fff;
      }
      &__active {
        color: $watermelon;
      }
    }
  }
}
